[submodule "vendor/console_bridge"]
	path = vendor/console_bridge
	url = https://github.com/onurtuncer/console_bridge.git
	branch = master
[submodule "vendor/urdfdom_headers"]
	path = vendor/urdfdom_headers
	url = https://github.com/onurtuncer/urdfdom_headers.git
